<h1>FAVORITES</h1>

<h1>Favorite Suppliers</h1>
<%= form_tag compare_favorites_path, method: :get do %>
  <% @favorites.each do |favorite| %>
    <div>
      <%= check_box_tag 'supplier_ids[]', favorite.supplier.id %>
      <%= favorite.supplier.name %>
    </div>
  <% end %>


  <%= submit_tag "Compare" %>
<% end %>

<h2>Add Product </h2>
<div data-controller="button" class="mt-5">
  <button class="btn btn-outline-primary">Add a new product</button>
  <%= render "form", product: @product %>
</div>
