<% if Supplier.where(user: current_user).any? %>

<%# SUPPLIER DASHBOARD %>
	<% supplier = Supplier.where(user: current_user) %>
	<% projects = Project.where(supplier_id: supplier) %>
		<h2 class="h2-dashboard"><%= "Active Projects" %></h2>
		<h2><%= projects.count %></h2>
		<p>
		<%# link_to "View all projects", supplier_projects_path(supplier.first.id), class: "mr-2" %>
		</p>

  <table data-controller="dashboard">
    <thead>
      <tr>
        <th>Title</th>
        <th>Name Of Brand</th>
        <th>Location</th>
        <th>number of products</th>
        <th>number of total units</th>
        <th>STATUS</th>
        <th>DELIVERY DATE</th>
      </tr>
    </thead>
    <tbody>
      <% projects.each do |project| %>
				<% supplier = Supplier.find(project.supplier_id) %>
				<% total_units = 0 %>
				<% project.products.each do |product| %>
					<% total_units += product.quantity_xs.to_i +
					product.quantity_s.to_i +
					product.quantity_m.to_i +
					product.quantity_l.to_i +
					product.quantity_xl.to_i
					%>
				<% end %>
        <tr data-dashboard-target="dashboardElement">
          <td><%= project.title %></td>
          <td><%= project.brand.company_name %></td>
          <td><%= supplier.country %></td>
          <td><%= project.products.count %></td>
          <td><%= total_units %></td>

					<%= simple_form_for Project.find(project.id) do |f| %>
          <td data-action="click->dashboard#fire">
						<%= f.input :status %>
							<%= f.select :status, options_for_select(
								[
							"pending",
							"accepted",
							"samples construction",
							"delivery of samples",
							"start of production",
							"delivery of production"
								],
								selected = project.status
								) %>
					</td>

          <td>
						<%= f.input :delivery_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
					</td>
					<%= f.submit "Update Project", class: "btn btn-primary" %>
					<% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
<%# BRAND DASHBOARD %>
	<% brand = Brand.where(user: current_user) %>
	<%# raise %>
	<% projects = Project.where(brand_id: brand) %>
	<% favorites = Favorite.where(brand_id: brand) %>

<%# MY SUPPLIERS - FAVORITES %>
	<div>
	<!-- 	<div style="display:flex;align-items:center">
			<h2 class="h2-dashboard"><%= "MY SUPPLIERS - FAVORITES" %></h2>
			<div style="border:1px solid black"></div>
		</div> -->
		<div class="title-line">
			<h2 class="h2-dashboard"><%= "MY SUPPLIERS - FAVORITES" %></h2>
			<div class="title-line-child"></div>
		</div>
		<div class="cards container-dashboard d-flex">
				<% favorites.limit(3).each do |favorite| %>
				<div class="card">
						<p>Name:<%= favorite.supplier.name %></p><br>
						<p>Description:<%= favorite.supplier.description %></p><br>
						<p>Price_rating:<%= favorite.supplier.price_rating %></p><br>
						<%# raise %>
						<% favorite.supplier.materials.each do |material|  %>
						<%= material.name %>
						<% end  %>
						<p>Sustainability_rating:<%= favorite.supplier.sustainability_rating %></p><br>
						<p>Minimum_quantity:<%= favorite.supplier.minimum_quantity %></p><br>
				</div>
				<% end %>
		</div>
	</div>
<%# MY PROJECTS %>
	<div>
		<div class="title-line">
			<h2 class="h2-dashboard"><%= "MY PROJECTS" %></h2>
			<div class="title-line-child"></div>
		</div>
		<div class="cards container-dashboard row">
			<div class="card border col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<h3 class="h3-dashboard"><%= "ALL MY PROJECTS" %></h3>
				<h2><%= projects.count %></h2>
				<ul>
				<%# raise %>

				<li>PROJECT PENDING (<%= projects.where(status: "pending").count %>)</li>
				<li>PROJECT ACCEPTED (<%= projects.where(status: "accepted").count %>)</li>
				<li>SAMPLES CONSTRUCTION (<%= projects.where(status: "samples construction").count %>)</li>
				<li>DELIVERY OF SAMPLES (<%= projects.where(status: "delivery of samples").count %>)</li>
				<li>START PRODUCTION (<%= projects.where(status: "start of production").count %>)</li>
				<li>DELIVERY OF PRODUCTION (<%= projects.where(status: "delivery of production").count %>)</li>

				</ul>
				<p class="see-all">
				<%= link_to "SEE ALL", brand_projects_path(brand.first.id), class: "mr-2" %>
				</p>
			</div>
			<div class="card border col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<h3 class="h3-dashboard"><%= "UNREAD MESSAGES" %></h2>
				<p class="see-all">
				<%= link_to "SEE ALL", inbox_path, class: "mr-2" %>
				</p>

			</div>
		</div>
	</div>
<%# CURRENT PROJECTS %>
	<div>
		<div class="title-line">
			<h2 class="h2-dashboard"><%= "CURRENT PROJECTS" %></h2>
			<div class="title-line-child"></div>
		</div>
		<table class="container-dashboard">
			<thead>
				<tr>
					<th>TITLE</th>
					<th>SUPPLIER NAME</th>
					<th>COUNTRY</th>
					<th>PRODUCTS</th>
					<th>TOTAL UNITS</th>
					<th>STATUS</th>
					<th>DELIVERY DATE</th>
					<th>SEE PROJECT</th>
				</tr>
			</thead>
			<tbody>
				<% projects.each do |project| %>
					<% supplier = Supplier.find(project.supplier_id) %>
					<% total_units = 0 %>
					<% project.products.each do |product| %>
						<% total_units += product.quantity_xs.to_i +
						product.quantity_s.to_i +
						product.quantity_m.to_i +
						product.quantity_l.to_i +
						product.quantity_xl.to_i
						%>
					<% end %>
					<tr>
						<td><%= project.title %></td>
						<td><%= supplier.name %></td>
						<td><%= supplier.country %></td>
						<td><%= project.products.count %></td>
						<td><%= total_units %></td>
						<td><%= project.status %></td>
						<td><%= project.updated_at %></td>
						<td><%= link_to "SEE PROJECT", project_path(project), class: "mr-2" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<%# link_to "Favorites", favorites_path, class: "mr-2" %>

<% end %>
