<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <%# left side %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
           <li class="nav-item active">
            <%= link_to "HOME", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "SEARCH", suppliers_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "FAVOURITES", favorites_path, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>

        <%# Middle %>
      <div>
        <h1>L'ATELIER</h1>
      </div>


    <%# right side %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "DASHBOARD", dashboard_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "INBOX", inbox_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="nav-link" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PROFILE
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "MY PROFILE", brand_path(@current_user), class: "dropdown-item" %>
              <%= link_to "LOG OUT", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
