<div id="d-flex justify-content-center w-80">
  <%# Title and banner %>
  <div class=" d-flex justify-content-center">
    <img src="https://d2w9rnfcy7mm78.cloudfront.net/14680480/original_cfc9b8db0722858b17747c1d447a5fe0.jpg?1642019072?bc=0" alt="banner" class="home-banner">
  </div>

  <%# filter %>
<div class="modal-header">
          <h5>ALL FILTERS</h5>
          <button data-action="click->filter#closeModal" style="background: none; border: none; padding: 0;">
              <img src="https://res.cloudinary.com/dzm55bol0/image/upload/v1693870230/ph_x_xbkngj.png" alt="Close" style="width: 20px; height: auto;">
          </button>
      </div>

      <div class="filter-options">
        <div data-action="click->filter#showOption" data-filter="country">
          COUNTRY
          <div class="filter-toggle country hidden" data-filter-toggle="country">
            <% @countries.each do |country| %>
              <div class="country-list-results">
              <%= link_to country, suppliers_path(country: country), class: "country-option" %>
              </div>
            <% end %>
          </div>
        </div>

        <div data-action="click->filter#showOption" data-filter="sustainability">
              SUSTAINABILITY
              <div class="filter-toggle sustainability hidden" data-filter-toggle="sustainability">
                  <%= hidden_field_tag :sustainability_rating, params[:sustainability_rating] %>
                  <div class="sustainability-icons">
                      <%= link_to suppliers_path(sustainability_rating: 5), class: "sustainability-option" do %>
                          <%= image_tag "https://res.cloudinary.com/dzm55bol0/image/upload/v1693821902/sust_5_hrgnpe.png", class: "sust-img-filter", alt: "Sustainability Rating 5" %>
                      <% end %>

                      <%= link_to suppliers_path(sustainability_rating: 4), class: "sustainability-option" do %>
                          <%= image_tag "https://res.cloudinary.com/dzm55bol0/image/upload/v1693821902/sust_4_ehprtk.png", class: "sust-img-filter", alt: "Sustainability Rating 4" %>
                      <% end %>

                      <%= link_to suppliers_path(sustainability_rating: 3), class: "sustainability-option" do %>
                          <%= image_tag "https://res.cloudinary.com/dzm55bol0/image/upload/v1693821903/sust_3_fr1mk5.png", class: "sust-img-filter", alt: "Sustainability Rating 3" %>
                      <% end %>

                      <%= link_to suppliers_path(sustainability_rating: 2), class: "sustainability-option" do %>
                          <%= image_tag "https://res.cloudinary.com/dzm55bol0/image/upload/v1693821903/sust_2_loylzt.png", class: "sust-img-filter", alt: "Sustainability Rating 2" %>
                      <% end %>

                      <%= link_to suppliers_path(sustainability_rating: 1), class: "sustainability-option" do %>
                          <%= image_tag "https://res.cloudinary.com/dzm55bol0/image/upload/v1693821904/sust_1_ifiisc.png", class: "sust-img-filter", alt: "Sustainability Rating 1" %>
                      <% end %>

                  </div>
              </div>
          </div>

        <div data-action="click->filter#showOption" data-filter="price">
          PRICE
          <div class="filter-toggle price hidden" data-filter-toggle="price">
            <%= submit_tag "€", name: "price_rating", class: "search-button" %>
            <%= submit_tag "€€", name: "price_rating", class: "search-button" %>
            <%= submit_tag "€€€", name: "price_rating", class: "search-button" %>
          </div>
        </div>

        <div data-action="click->filter#showOption" data-filter="quantity">
          QUANTITY
          <div class="filter-toggle quantity hidden" data-filter-toggle="quantity">
            <div data-controller="slider">
              <%= hidden_field_tag :minimum_quantity, @min_value, data: { slider_target: "minInput" } %>
              <%= hidden_field_tag :max_quantity, @max_value, data: { slider_target: "maxInput" } %>
              <input type="text" data-slider-target="range" data-max-value="<%= @max_value %>">
            </div>
          </div>
        </div>

        <div class="materials-container" data-action="click->filter#showOption" data-filter="material">
            MATERIAL
            <div class="filter-toggle material hidden" data-filter-toggle="material">
                <% Material.all.each do |material| %>
                    <div class="material-list-results">
                        <%= link_to material.name, suppliers_path(supplier_materials: material.id), class: "material-option" %>
                    </div>
                <% end %>
            </div>
        </div>
      </div>

<<<<<<< HEAD
<h2> About us </h2>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>About Us</h2>
      <p>This is a placeholder for information about our company.</p>
    </div>
  </div>
=======
      <div class="filter-action-buttons">
          <%= submit_tag "Filter", class: "search-button filter-action-button" %>
          <%= link_to 'Reset', suppliers_path, class: "search-button filter-action-button"%>
      </div>


  <%# Cards of 8 countries %>
  <div class="container home-card-container">
    <div class="home-grid">
      <% @suppliers.each do |supplier| %>
        <div class="home-grid__card">
          <div class="home-card-country">
            <%= link_to supplier.country, suppliers_path(country: supplier.country), class: "home-card-text" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%# About us %>
  <div class="container home-about_us-container">
    <div class="row home-about_us-background">
      <div class="col-7">
        <div class="card-header home-about_us-header">
          <h2>WHAT IS L'ATELIER ?</h2>
        </div>
        <div class="card-body home-about_us-body">
          <div class="card-body home-about_us-body-text">
              The word “atelier” is defined as a workshop or studio, especially one used by an artist or designer. The word “atelier” is defined as a workshop or studio, especially one used by an artist or designer. It's a term infused with creativity, craftsmanship, and the essence of bringing ideas to life through skilled hands and innovative minds. This very essence encapsulates the vision and purpose of the new manufacturing startup, aptly named "L'atelier."
          </div>
          <div class="card-body home-about_us-body-text">
              In an era where the fashion industry is a dynamic and ever-evolving landscape, L'atelier emerges as a bridge between clothing brands and manufacturers, seeking to revolutionise the way garments are conceptualised, created, and ultimately brought to the waiting arms of fashion enthusiasts worldwide. With a name that resonates deeply within the artistic and creative realms, the startup is set to redefine the manufacturing paradigm, turning it into a collaborative artistry that transcends mere production processes.
          </div>
          <div class="card-body home-about_us-body-text">
              As the fashion industry continues to grapple with challenges related to sustainability, ethical practices, and the demand for unique, high-quality pieces, L'atelier emerges as a beacon of hope. It promises a platform where brands can find manufacturers who share their values and aspirations, facilitating the creation of clothing that aligns with both aesthetic visions and responsible production practices.
          </div>
          <div class="card-body home-about_us-body-text">
              L'atelier is a The word “atelier” is defined as a workshop or studio, especially one used by an artist or designer. The word “atelier” is defined as a workshop or studio, especially one used by an artist or designer. It's a term infused with creativity, craftsmanship, and the essence of bringing ideas to life through skilled hands and innovative minds. This very essence encapsulates the vision and purpose of the new manufacturing startup, aptly named "L'atelier."
          </div>
        </div>
      </div>
      <div class="col-5 home-about_us-image">
        <img src="" alt="">
      </div>
    </div>
  </div>

>>>>>>> bf9b4cd30ab03acb4d3a590826654ad89ce77a95
</div>
