<h1> <%= @supplier.name %> </h1>
<h1>Create a project</h1>


<%= simple_form_for @project do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :delivery_mode %>
    <%= f.text_field :delivery_mode %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description, rows: 4 %>
  </div>
	<%# raise %>
    <%= f.hidden_field :supplier_id, value: @supplier.id %>

<div>
  <%= f.label :status %>
  <%= f.select :status, options_for_select(['pending','start samples','delivery and comment of samples', 'samples accepted', 'start of the production', 'delivery of the production']) %>
</div>

  <div>
    <%= f.submit "Create Project" %>
  </div>
<% end %>
