
<h1>CONTACT DETAILS</h1>
<div>
<div class="brand-details">
  <h2>Brand Details</h2>
  <%= "Company Name: #{@brand.company_name}" %>
  <%= "BIC Number: #{@brand.bic_number}" %>
  <%= "Email: #{@brand.email}" %>
  <%= "Contact Number: #{@brand.contact_number}" %>
  <%= "Country: #{@brand.country}" %>
  <%= "Address: #{@brand.address}" %>
</div>


<h2>Products:</h2>
<% if @project.products.empty? %>
  <p>No products available</p>
<% else %>
  <h2>Display Product List</h2>
  <ul>
    <% @project.products.each do |product| %>
      <li><%= product.name%></li>
    <% end %>
  </ul>
<% end %>


<h2>Create New Product</h2>
<div data-controller="toggle">
  <button data-action="click->toggle#fire" class="btn btn-outline-primary-blue">Add a new product</button>
  <div class="product-details d-none" data-toggle-target="togglableElement" >
      <%= simple_form_for [@project, @product] do |f| %>
        <%= f.input :name, label: 'Name' %>
        <%= f.input :description, label: 'Description' %>
        <%= f.input :quantity_xs, label: 'Quantity XS' %>
        <%= f.input :quantity_s, label: 'Quantity S' %>
        <%= f.input :quantity_m, label: 'Quantity M' %>
        <%= f.input :quantity_l, label: 'Quantity L' %>
        <%= f.input :quantity_xl, label: 'Quantity XL' %>
        <%= f.button :submit, 'Create Product' %>
      <% end %>
    </div>
</div>
