<div class="container big-container-showpage">
  <div class ="container left-conatainer-showpage">
    <img src="https://res.cloudinary.com/dzm55bol0/image/upload/v1693819062/image_143_a5j6tt.png" alt="Supplier Image" class="supplier-showpage-image">
    <div class="container showpage-all-button-showpage">
      <div class="submit-button">
        <%= link_to 'submit form' , new_supplier_project_path(@supplier), class: "show-supplier__btn show-page__btn" %>
      </div>
      <%= link_to 'Chat with Supplier' , supplier_chatroom_path(@supplier), class: "show-supplier__btn" %>
    </div>
  </div>
  <div class ="container right-conatainer-showpage" style="width:70%">
    <div class="container description-supplier-showpage">
      <div>
        <div id="supplier-name-rating-showpage">
          <h1> <%= @supplier.name %> </h1>
            <h3> <%= @supplier.price_rating %> </h3>
        </div>
        <div class="sustainability-icons-showpage" stylesheet:>
          <% if @supplier.sustainability_rating >= 5 %>
           <%= image_tag "https://res.cloudinary.com/dzm55bol0/image/upload/v1693821902/sust_5_hrgnpe.png", class: "sust-img-filter", alt: "reviews rating 5" %>
        <% elsif @supplier.sustainability_rating >= 4 %>
          <%= image_tag "https://res.cloudinary.com/dzm55bol0/image/upload/v1693821902/sust_4_ehprtk.png", class: "sust-img-filter", alt: "reviews rating 4" %>
        <% elsif @supplier.sustainability_rating >= 3 %>
          <%= image_tag "https://res.cloudinary.com/dzm55bol0/image/upload/v1693821903/sust_3_fr1mk5.png", class: "sust-img-filter", alt: "reviews rating 3" %>
        <% elsif @supplier.sustainability_rating >= 2 %>
          <%= image_tag "https://res.cloudinary.com/dzm55bol0/image/upload/v1693821903/sust_2_loylzt.png", class: "sust-img-filter", alt: "reviews rating 2" %>
        <% elsif @supplier.sustainability_rating >= 1 %>
          <%= image_tag "https://res.cloudinary.com/dzm55bol0/image/upload/v1693821904/sust_1_ifiisc.png", class: "sust-img-filter", alt: "reviews rating 1" %>
        <% end %>
      </div>

      </div>
      <div style="margin-right: 10px;">
        <% if user_signed_in? && current_user.brand %>
          <% if current_user.brand.favorites.exists?(supplier_id: @supplier.id) %>
            <p>Already in favorites </p>
            <% else %>
              <%= link_to supplier_favorites_path(@supplier, @favorite), id: "showpage-add-favorites" , data: { turbo_method: :post } do %>
                <div class="showpage-add-favorites">
                  <p> Add to favorites </p>
                  <i class="far fa-heart"></i>
                </div>
              <% end %>
            <% end %>
          <% end %>
          <% if current_user && current_user.user_type=="supplier" %>
          <p>Edit page supplier page</p>
        <% end %>
      </div>
    </div>


    <div id="customized-header">
      <h3>DESCRIPTION</h3>
      <div style="border: 1px solid black; margin-left: 10px; flex-grow: 1;">
      </div>
    </div>
    <p style="margin: 10px; text-align: justify;">
      <%= @supplier.description %>
    </p>

    <div id="customized-header">
      <h3>LOCATION</h3>
      <div style="border: 1px solid black; margin-left: 10px; flex-grow: 1;"></div>
    </div>
    <div id="map-component" data-controller="map" data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>


    <div id="customized-header">
      <h3>PREVIOUS PROJECTS</h3>
      <div style="border: 1px solid black; margin-left: 10px; flex-grow: 1;"></div>
    </div>
    <div class="project-pictures-showpage">
      <%= image_tag("https://res.cloudinary.com/dzm55bol0/image/upload/v1693819062/image_143_a5j6tt.png", alt: "Supplier Image", style:"width:100%" ) %>
      <%= image_tag("https://res.cloudinary.com/dzm55bol0/image/upload/v1693819062/image_143_a5j6tt.png", alt: "Supplier Image", style:"width:100%" ) %>
      <%= image_tag("https://res.cloudinary.com/dzm55bol0/image/upload/v1693819062/image_143_a5j6tt.png", alt: "Supplier Image", style:"width:100%" ) %>
    </div>

    <div id="customized-header">
      <h3>REVIEWS</h3>
      <div style="border: 1px solid black; margin-left: 10px; flex-grow: 1;"></div>
    </div>

    <%= simple_form_for [@supplier, @review] do |f| %>
      <div style="display:flex; flex-grow:1">
        <div style="display:flex; flex-direction:column; flex-grow:1">
          <%= f.input :comment %>
        </div>
        <div style="display:flex; flex-direction:column; margin: 0px 15px">
          <%= f.input :rating, collection: Review::AUTHORIZED_RATINGS, include_blank: false %>
        </div>
      </div>
      <%= f.submit class: "btn", value: "submit", style: "background:black; color:white; width:20%; " %>
    <% end %>


    <% if @supplier.reviews %>
      <% @reviews.each do |review| %>
        <div class="container review-showpage">
          <%= image_tag("https://res.cloudinary.com/do4qlpmbv/image/upload/v1694076042/blank-profile-picture-973460_1280_iznyuv.png", alt: "Supplier Image" ,id:"review-picture-brand") %>
          <div style="margin-left:25px;">
            <div style="display:flex">
              <div id="review-brand-name-showpage">
                <p> <%= review.brand.company_name %> </p>
              </div>
                <p id="review-rating-showpage" style="margin-left:40px;"> </p>

              <div class="reviews-icons-showpage" stylesheet:>
                  <% if review.rating >= 5 %>
                  <%= image_tag "https://res.cloudinary.com/do4qlpmbv/image/upload/v1694009738/5_star_gfxo0b.png", class: "reviews-icon-stars", alt: "reviews rating 5" %>
                <% elsif review.rating >= 4 %>
                  <%= image_tag "https://res.cloudinary.com/do4qlpmbv/image/upload/v1694009738/4_star_bgxhxr.png", class: "reviews-icon-stars", alt: "reviews rating 4" %>
                <% elsif review.rating >= 3 %>
                  <%= image_tag "https://res.cloudinary.com/do4qlpmbv/image/upload/v1694009738/3_star_heeul5.png", class: "reviews-icon-stars", alt: "reviews rating 3" %>
                <% elsif review.rating >= 2 %>
                  <%= image_tag "https://res.cloudinary.com/do4qlpmbv/image/upload/v1694009738/2_star_ceoplz.png", class: "reviews-icon-stars", alt: "reviews rating 2" %>
                <% elsif review.rating >= 1 %>
                  <%= image_tag "https://res.cloudinary.com/do4qlpmbv/image/upload/v1694009738/1_star_lz9bks.png", class: "reviews-icon-stars", alt: "reviews rating 1" %>
                <% end %>
              </div>

                <p> <%= review.created_at %></p>
            </div>
            <p id="review-comment-showpage"> <%= review.comment %> </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
